:root {
    --ponwidth: 800px;
    margin-left: auto;
    margin-right: auto;
}

.img_holder a{
    font-size: 40px;
}

.go_back{
    float:left;
    color: #0F9BAF;
    cursor: pointer;
}

.image ajax{
    float:right;
}



#right_detail{
    float:right;
    width: 45%;
    margin-right: 20px;
}

.pon{
    width: 45%;
    float:left;

}
.pon .image img {
    max-width: 300px;
    min-height: 75px;
    margin-top: 20px;
    margin-left: 20px;
}

.pon .description {
    margin-left: 15px;
    font-size: 13px;
    color: #666666;
    font-weight: 700;
    float:left;
    width: 45%;
    margin-top: 10px;
    word-wrap: break-word;
    line-height: 18px;
}
.pon .title {
    margin-left: 15px;
    font-size: 16px;
    color: #666666;
    font-weight: 700;
    float:left;
    width: 45%;
    margin-top: 10px;
    word-wrap: break-word;
    line-height: 18px;
}
.pon .likes,
.pon .postdate{
    color: #8C7E7E;
    float:right;
    line-height: 1.35em;
    text-align: right;
}

.pon .likes{
    margin-right: 10px;
}
.pon .postdate{
    float: left;
}

.pon .likes{
}


.pon .likes span {
    text-align: right;
    margin-left: 80px;
}

.pon .icon_heart img{
    width: 13px;
    float:right;
    margin-top: 5px;
    margin-right: 2px;
}


#inappropriate a{
    text-decoration: none;
    color: #0F9BAF;
    font-weight: 700;
}

#inappropriate{
    margin-top: 20px;
    float:left;
    width: 45%;
}

hr{
    margin-top: 10px;
}

.comment img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right: 10px;
}

.comment{
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 10px;
}

.comment_zelf{
    width: 100%;
    display: flex;
    align-self: center;
}

.comment_zelf a{
    text-decoration: none;
    font-weight: 700;
    color: #0F9BAF;
    margin-right: 5px;
}


.commentformulier h4{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.image_info{
    margin-left: 40px;
}

hr{
    clear:both;
    margin-top: 10px;
}

.dislikes{
    margin-bottom: 10px;
    color: #666666;
    font-size: 14px;
}

.icon_heart{
    margin-left: 20px;
}

.statusupdates{
    height: 100%;
}
.commentformulier{
    align-self: center;
    margin-top:80px;
    height: 200px;
    clear:both;
}
.commentform{
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
}
.btnsubmit{
    background-color: #0f9baf; /* Blue */
    border: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 170px;
    border-radius: 5px;
    margin-left: -180px;
    align-self: center;
}

input[type=text]{
    border-radius: 5px;
    border: 1.5px solid #b3b3b3;
    margin-top: 5px;
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
}

.listupdates{
    height: 250px;
    overflow: auto;
    margin-top: 20px;
}
#modalOverlay {

    position: absolute;
    background: #e6e6e6;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    position: absolute;
    color:black;
    padding:10px;
    background: rgba(255,255,255, 1);
    border-radius:5px;
    box-shadow:0px 4px 10px black;
    left: calc((100% - var(--ponwidth))/ 2);
    margin-top: 20px;
    width: 800px;
}

.fadeInbg50 {
    -webkit-animation: fadeInbg50 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}



#btnVerwijder{
    display: inline-block;
    float:right;
    width: 50%;
    margin-top: 20px;

}

.verwijderpost input[type=submit]{
    color: #0A6970;
    border:none;
    font-weight: 700;
    font-size: 14px;
    background:none;
    cursor: pointer;

}


@-webkit-keyframes fadeInbg50
{
    to {background: rgba(0,0,0, 0.5); }
}

.fadeIn100 {
    -webkit-animation: fadeIn100 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-transition: all 500ms ease-out;
}

@-webkit-keyframes fadeIn100
{
    from {margin-top:-50px;}
    to {  margin-top:0;opacity:1;}
}

