/* -------------------FONTS --------------------*/

html {
    font-family: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow: auto;
}

header {
    height: 65px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.avatar a img {
    height: 45px;
    border-radius: 100%;
    margin: 10px 15px 15px 15px;
    float: left;
    border: none;
}

header .logo img{
    height: 45px;
    margin-left: 30px;
    float: left;
}

header a img {
    height: 45px;
    margin: 10px 15px 15px 15px;
    float: left;
}

header img {
    height: 40px;
    margin: 15px 15px 20px 15px;
    float: left;
}

.iconen, .avatar {
    margin-right: 5px;
}

.dropbtn {
    cursor: pointer;
}

.avatar {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 140px;
    border: 1px solid #e6e6e6;
    border-radius: 5%;
    z-index: 1;
    margin-left: -80px;
    margin-top: 63px;

}

.dropdown-content a {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.avatar:hover .dropdown-content {
    display: block;
}

.btn_logout {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.hr_dropdown {
    color: #f1f1f1;
    margin-top: 0;
}

.dropdown-content a.btn_logout {
    text-align: center;
}

.dropdown-content a.btn_logout:hover {
    background-color: #0F9BAF;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.search_{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 30px;
}


#searching input {
    background: none repeat scroll 0 0 white;
    border: #cccccc solid 1px;
    border-radius: 5px;
    float: left;
    font-size: 12px;
    height: 20px;
    margin: 0;
    padding: 8px;
    width: 70%;
    transition: background 0.3s ease-in-out 0s;
}

#searching input[type=text] {
    font-size: 13px;
    color: #7F7F7F;
    font-weight: 300;
}

::-webkit-input-placeholder{
    color: #666666;
}

#searching button {
    background: url("../img/search.png") no-repeat scroll center center #0f9baf;
    cursor: pointer;
    border-radius: 5px;
    height: 38px;
    text-indent: -99999px;
    width: 10%;
    border: 0px solid #fff;
    margin-left: 5px;
}

.iconen {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.icon_2 {
    background: url("../img/icon_message.svg");
    text-indent: -99999px;
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.icon_2:hover {
    background: url("../img/icon_message_hover.svg");
    text-indent: -99999px;
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.icon_3 {
    background: url("../img/icon_notifications.svg");
    text-indent: -99999px;
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.icon_3:hover {
    background: url("../img/icon_notifications_hover.svg");
    text-indent: -99999px;
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

/* .icon{
    padding: 0.2em;
    height: 40px;
    font-size: 1.6rem;
    margin-right: 10px;

} */
/* .icon a:hover {
    color: #0f9baf;

} */
.functions a {
    text-decoration: none;
    color: #666666;
}

.functions a img {
    display: block;
    width: 40px;

}

.functions {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: auto;
}

.icon {
    padding: 0.2em;
    height: 15px;
    font-size: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background-color: black;
    color: #666666;
    font-size: 10px;
}

.icon_1 img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: -1px;
    margin-right: 5px;
}

.icon_1 {
    position: relative;
    display: inline-block;
}

.dropdown-content_categorie {
    display: none;
    position: absolute;
    background-color: white;
    width: 320px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    z-index: 1;
    margin-left: -150px;
    margin-top: 40px;

}

.dropdown-content_categorie a {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content_categorie a:hover {
    background-color: #f1f1f1;
}

.icon_1:hover .dropdown-content_categorie {
    display: block;
}

.left_categorie {
    columns: 100px 2;
}

.rendered-images{
    margin-top: 15px;
}

.rendered-images img{
    height: 50px;
    width: 50px;
}
















@media only screen and (min-width: 768px) {

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


    html {
        font-family: 'Roboto', sans-serif;

    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        overflow: auto;
    }

    header {
        height: 80px;
        background-color: white;
        display: flex;
        flex-direction: row;
    }

    .avatar a img {
        height: 45px;
        border-radius: 100%;
        margin: 15px 15px 0px 15px;
        float: left;
        border: none;
    }

    header a img {
        height: 60px;
        margin: 10px 15px 0px 15px;
        float: left;
    }

    header img {
        height: 40px;
        margin: 20px 15px 20px 15px;
        float: left;
    }

    header .logo img{
        height: 60px;
        margin-left: 35px;
        float: left;
    }

    .iconen, .avatar {
        margin-right: 20px;
    }

    .dropbtn {
        cursor: pointer;
    }

    .avatar {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        width: 140px;
        border: 1px solid #e6e6e6;
        border-radius: 5%;
        z-index: 1;
        margin-left: -80px;
        margin-top: 63px;

    }

    .dropdown-content a {
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .avatar:hover .dropdown-content {
        display: block;
    }

    .btn_logout {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

    }

    .hr_dropdown {
        color: #f1f1f1;
        margin-top: 0;
    }

    .dropdown-content a.btn_logout {
        text-align: center;
    }

    .dropdown-content a.btn_logout:hover {
        background-color: #0F9BAF;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
    }

    .search {
        border: none;
        border-radius: 5px;
        margin: auto;
        width: 500px;

    }

    .search_{
        visibility: hidden;
    }

    #search {
        width: 430px;
        border: #e6e6e6 solid 1px;
    }

    #searching input {
        background: none repeat scroll 0 0 #fff;
        border: #bababa solid 1.5px;
        border-radius: 5px;
        border-radius: 5px;
        color: #7F7F7F;
        float: left;
        font-size: 12px;
        height: 20px;
        margin: 0;
        padding: 8px;
        transition: background 0.3s ease-in-out 0s;
    }

    #searching input[type=text] {
        font-size: 14px;
        color: #bababa;
        font-weight: 300;
    }

    #searching button {
        background: url("../img/search.png") no-repeat scroll center center #0f9baf;
        cursor: pointer;
        border-radius: 5px;
        height: 38px;
        text-indent: -99999px;
        width: 40px;
        border: 0px solid #fff;
        margin-left: 5px;
    }

    .search_results h1{
        font-size: 20px;
        color:#0F9BAF;
        text-align: center;
        font-size: 30px;
        margin-top: 40px;
    }

    .search_results a{
        background-color: #0A6970;
        border: 2px solid #0A6970;
        color: white;
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        text-decoration: none;
        display: block;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        width: 120px;
        padding: 12px;
        letter-spacing: 1px;
        border-radius: 10px;
    }

    .search_results a:hover{
        background-color: transparent;
        color: #0A6970;
        border: 2px solid #0A6970;
        font-weight: 600;
    }

    .iconen {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }

    .icon_2 {
        background: url("../img/icon_message.svg");
        text-indent: -99999px;
        height: 35px;
        width: 35px;
        margin-left: 15px;
    }

    .icon_2:hover {
        background: url("../img/icon_message_hover.svg");
        text-indent: -99999px;
        height: 35px;
        width: 35px;
        margin-left: 15px;
    }

    .icon_3 {
        background: url("../img/icon_notifications.svg");
        text-indent: -99999px;
        height: 35px;
        width: 35px;
        margin-left: 15px;
    }

    .icon_3:hover {
        background: url("../img/icon_notifications_hover.svg");
        text-indent: -99999px;
        height: 35px;
        width: 35px;
        margin-left: 15px;
    }

    /* .icon{
        padding: 0.2em;
        height: 40px;
        font-size: 1.6rem;
        margin-right: 10px;

    } */
    /* .icon a:hover {
        color: #0f9baf;

    } */
    .functions a {
        text-decoration: none;
        color: #666666;
    }

    .functions a img {
        display: block;
        width: 40px;

    }

    .functions {
        display: flex;
        flex-direction: row;
        height: 20px;
        margin: auto;
    }

    .icon {
        padding: 0.2em;
        height: 15px;
        font-size: 1.2rem;
    }

    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        background-color: black;
        color: #666666;
        font-size: 10px;
    }

    .icon_1 img {
        height: 35px;
        width: 35px;
        margin-left: 10px;
        cursor: pointer;
        margin-top: -1px;
        margin-right: 5px;
    }

    .icon_1 {
        position: relative;
        display: inline-block;
    }

    .dropdown-content_categorie {
        display: none;
        position: absolute;
        background-color: white;
        width: 320px;
        border: 1px solid #e6e6e6;
        border-radius: 10px;
        z-index: 1;
        margin-left: -150px;
        margin-top: 50px;

    }

    .dropdown-content_categorie a {
        color: #666666;
        font-weight: 400;
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content_categorie a:hover {
        background-color: #f1f1f1;
    }

    .icon_1:hover .dropdown-content_categorie {
        display: block;
    }

    .left_categorie {
        columns: 100px 2;
    }



}

@media only screen and (max-width: 768px) {
    .search{
        visibility: hidden;
    }

    .pin {
        display: inline-block;
        background: #fff;
        margin: 0px 30px 30px 0px;
        width: 230px;
        font-size: 11px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        left: 0;
        right: 0;
    }

    .pin .img_holder {
        position: relative;
        width: 230px;
    }


}













