

main {
    float:left;
    width: 95%;
    position: relative;
    margin:0;
    padding:0;

}

#right{
    float:right;
    width: 5%;
    margin-right: 15px;

}

.main_container{
    margin-top: 0;
    padding: 0;
    -moz-column-gap: 1.2em;
    -webkit-column-gap: 1.2em;
    column-gap: 1.2em;

}


.pin {
    display: inline-block;
    background: #fff;
    margin: 0px 30px 30px 0px;
    width: 230px;
    font-size: 11px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    left: 0;
    right: 0;
}

.pin .img_holder {
    position: relative;
}

#right.additem{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#right.additem a{
    text-decoration: none;
    font-size: 45px;
    color: #0F9BAF;
    font-weight: 400;
    margin-left: 12px;

}

#right.additem a:hover{
    color:#0A6970;

}



/* POPUP ADD ITEM*/
.overlay {
    background-color: black;
    opacity: 0.6;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
}
.overlay:target {
    display: block;

}
.popup_additem {
    background-repeat: repeat;
    background-position: 0 0;
    background-image: none;
    background-color: white;
    background-attachment: scroll;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    top: 50%;
    left: 50%;
    padding: 35px 35px 20px;
    position: fixed;
    display: none;
    width: 400px;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.overlay:target+.popup_additem{
    top: 50%;
    opacity: 1 ;
    visibility: visible;
    max-height: 75%;
    overflow: auto;
}
.popup_additem .header {
    background-color: white;
    margin: -31px -30px 20px;
    padding: 18px 31px 8px;
    position: relative;
}
.popup_additem .header h2 {
    color: #666666;
    border-radius: 5px;
    font-size: 21px;
    line-height: 1em;
    margin: 0 37px 0 0;
}
.popup_additem .close {
    bottom: 0;
    color: #B3B3B3;
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    text-decoration: none;
    width: 57px;
    z-index: 1;
}

/*  ITEMS    */
#left.main_container {
    padding-left: 35px;
    position: relative;
    padding-right: 0;
}

.main_container_likeable{
    margin-left: 35px;
    margin-top: 55px;
}

.buttons{
    position: absolute;
    top: 10px;
    left: 55px;
    z-index: 6;


}

.buttons .btn{
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1em;
    padding: 5px 12px;
}

.btn.save{
    background-color: #0F9BAF;
    font-size: 13px;
}

.btn.save:hover {
    background-color: #0A6970;
}

a.btn.save{
    text-decoration: none;
    color:white;
    font-size: 13px;
}



a.btn.send {
    text-decoration: none;
    color:#666666;
    font-size: 13px;
}


.btn.send{
    background-color: white;
    font-size: 13px;
}

.btn.send:hover {
    background-color: #666666;
    color: white;
}

.buttons a {
    clear: none;
    display: none;
    float: left;
    margin: 0 5px 0 0;
}
.pin:hover .buttons a {
    display: block;

}
.buttons a img{
    width: 80px;
}

.pin .image img {
    max-width: 230px;
    min-height: 75px;
    opacity: 1;
}

.pin .image img:hover {
    max-width: 230px;
    min-height: 75px;
    opacity: 0.5;

}
.pin .description {
    margin-left: 15px;
    font-size: 13px;
    color: #666666;
    font-weight: 700;
    float:left;
    width: 45%;
    margin-top: 10px;
    word-wrap: break-word;
    line-height: 18px;
}
.pin .title {
    margin-left: 15px;
    font-size: 16px;
    color: #666666;
    font-weight: 700;
    float:left;
    width: 45%;
    margin-top: 10px;
    word-wrap: break-word;
    line-height: 18px;
}
.pin .likes{
    color: #8C7E7E;
    float:right;
    line-height: 1.35em;
    text-align: right;
    margin-right:15px;
}

.pin .postdate{
    float:left;
    color: #8C7E7E;
    line-height: 1.35em;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pin .likes,
.pin .postdate{
        margin-right: 10px;
}

.pin .comment_count{
    float:right;
    color: #8C7E7E;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.pin .likes{
    margin-top: 5px;
}


.pin .likes span {
    text-align: right;
}

.pin .icon_heart img{
    width: 13px;
    float:right;
    margin-top: 5px;
    margin-right: 10px;
}


.user_info{
    margin-left: 15px;
    clear:both;
    padding-top: 25px;
    width: 100%;
}

.user_info img{
    float:left;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.user_info p{
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    float:right;
    width: 45%;
    margin-top: 5px;
    margin-right: 60px;
}

.user_info p.categorie{
    font-size: 12px;
    font-weight: 400;
    color: #B3B3B3;
    margin-top: 4px;
    margin-bottom: 25px;
}

hr{
    border: 0;
    height: 1px;
    background: #B3B3B3;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    clear:both;

}

#loadmore {
    width: 91%;
    display: block;
    position: relative;
    margin-left: 35px;
    margin-bottom: 20px;
    clear:both;
}

#loadmore a{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #b3b3b3;
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

#loadmore a:hover{
    text-decoration: none;
    text-align: center;
    color: black;
    color: #666666;

}

.btn_createpost .button {
    background-color: #0f9baf; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 360px;
    border-radius: 5px;
}

.btn_createpost .button:hover {
    background-color: #0A6970; /* dark - Blue */

}


/* CREATE POST */

.label_upload {
    font-size: 13px;
    text-transform: uppercase;
    color: #8C7E7E;
    letter-spacing: 1.5px;
}

.label_upload #target img{
    padding-top: 10px;
}


.create_btnPost{
    margin-top: 20px;
    float:right;
}

.create_btnPost input[type=submit]{
    background-color: #0f9baf; /* Blue */
    border: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 170px;
    border-radius: 5px;

}

.create_btnPost input[type=submit]:hover{
    background-color: #0A6970; /* dark - Blue */

}
.picgroup{
    float:left;
    width: 48%;
}

.picgroup input{
    display: block;
    font-size: 12px;
    margin-top: 10px;
}

.url_link{
    float:right;
    width: 48%;
}

.url_link input{
    display: block;
}

.locationField{
    float:left;
    width: 45%;

}

.create_btnPost{
    float:right;
    width: 45%;
}

.create_title{
    padding-bottom: 20px;
    clear:both;
    padding-top: 10px;
}




textarea {
    border: 1.5px solid #b3b3b3;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 13px;
    color: #666666;
    font-weight: 300;
    padding: 10px;
    width: 390px;
    height: 50px;
    clear:both;
}

.create_title input[type=text]{
    border-radius: 5px;
    border: 1.5px solid #b3b3b3;
    margin-top: 5px;
    font-size: 13px;
    color: #333;
    font-weight: 700;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
}

.url{
    border-radius: 5px;
    border: 1.5px solid #b3b3b3;
    margin-top: 5px;
    font-size: 12px;
    color: #7F7F7F;
    font-weight: 400;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
}

.create_title input{
    width: 400px;
    display: block;
}

.box_topics{
    margin-top: 10px;
    margin-bottom: 10px;
}

.boxTitle, .create_title label, .create_description label, .url_link label, .upload_file label, .rendered-images label{
    text-transform: uppercase;
    color: #7F7F7F;
    font-size: 14px;
}

.locationField{
    margin-top: 10px;
}

.locationField label{
    font-size: 12px;
    text-transform: uppercase;
    color: #7F7F7F;
}
.locationField input{
    font-size: 12px;
    display:block;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
    border:1px solid #b3b3b3;
    padding-left: 5px;
}




form ul{
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    column-count: 3;
    column-gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

form ul li label{
    font-size: 12px;
}

form ul li{
    list-style-type: none;
}


#save_to_collection_content h2{
    color: #0F9BAF;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}


#save_to_collection_content{
    padding-top: 15px;
}

#save_to_collection_content label{
    margin-top: 15px ;
    display: inline-block;
    color: #7F7F7F;
    font-size: 14px;
}

#save_to_collection_content input{
    margin-left: 10px;
}

#save_to_collection_content button{
    background-color: #0F9BAF;
    text-decoration: none;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 400;
    width: 100px;
    letter-spacing: 1px;
    line-height: 1em;
    padding: 8px 16px;
    border: none;
    margin-top: 15px;
    text-transform: uppercase;
}

#save_to_collection_content button:hover{
    background-color: #0A6970;

}

.success{
    display: none;
    background-color: #aacd63;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


/* MEDIAQUERIES */


@media (max-width: 1500px) {
    .main_container {
        -moz-column-count:    5;
        -webkit-column-count: 5;
        column-count:         5;
        margin-left: auto;
        margin-right: auto;
    }


}

@media (max-width: 1250px) {
    .main_container {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
        margin-left: auto;
        margin-right: auto;

    }

    #left{
        width: 100%;
    }

    #right{
        position: absolute;
        z-index: 6;
        float:right;
    }


}


@media (max-width: 1000px) {
    .main_container {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
        margin-left: auto;
        margin-right: auto;
    }

    .search{
        border: none;
        border-radius: 5px;
        margin: auto;
        width: 350px;

    }

    #search{
        width: 70%;
        border: #e6e6e6 solid 1px;
    }

    .pin .likes span {
        margin-left: 50px;
    }



}

@media (max-width: 800px) {
    .main_container {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
        margin-top: 60px;
    }

    .search{
        border: none;
        border-radius: 5px;
        margin: auto;
        width: 350px;

    }

    #search{
        width: 60%;
        border: #e6e6e6 solid 1px;
    }

    .pin .likes span {
        margin-left: 50px;
    }

}



@media (max-width: 600px) {
    .main_container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        margin-top: 60px;
    }


}

@media (max-width: 450px) {
    .main_container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        margin-top: 60px;
    }


    .pin .img_holder {
        position: relative;
        width: 320px;
    }





}

