*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    overflow:auto;
    background-color: #efefef;
}

.wrap{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.wrap header{
    width: 100%;
}
header{
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

header a img{
    height: 60px;
    border: #10a6ad solid 1px;
    border-radius: 100%;
    margin: 10px 15px 0px 15px;
    float: left;
}

header img{
    height: 40px;
    border: #10a6ad solid 1px;
    border-radius: 100%;
    margin: 20px 15px 20px 15px;
    float: left;
}

.search{
    border: #e6e6e6 solid 1px;
    border-radius: 5px;
    margin: auto;
    width: 500px;
}

#search{
    width: 80%;
}
.iconen{
    display: flex;
    flex-direction: row;
}
.functions{
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: auto;
}
.icon{
    padding: 0.2em;
    height: 15px;
    font-size: 1.2rem;
}


.sideBar {
    float: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 70vh;
    background-color: #FCFDFD;

}

fieldset{
    border:none;
}


.sideBar__item {
    cursor: pointer;
    padding: 15px 10px;
    color: #10a6ad;
    font-size: 16px;
    border-bottom: #d3d3d3 solid 1.5px;
    border-collapse: collapse;
    letter-spacing: 1px;
}

.sideBar__item_{
    cursor: pointer;
    padding: 15px 10px;
    color: #10a6ad;
    font-size: 16px;
    border-top: #d3d3d3 solid 1.5px;
    border-collapse: collapse;
    letter-spacing: 1px;

}

.sideBar__item_2{
    cursor: pointer;
    padding: 15px 10px;
    color: #10a6ad;
    font-size: 16px;
    border-collapse: collapse;
    letter-spacing: 1px;

}

.sideBar__item:hover, .sideBar__item_:hover, .sideBar__item_2:hover{
    color: #0d747c;
}

.sideBar__item.is-side-bar-item-selected {
    color: #0d747c;

}

.sideBar__section{
    border: none;
}

.right{
    margin-top: 10px;
    float: right;
    width: 72%;
    height: auto;
    background-color: #FCFDFD;
}



#pagename{
 color:#666666;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-top:20px;
    margin-left: 20px;
    letter-spacing: 1px;
}


.profile{
    margin-top:30px ;
}
.profilepicture{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 20px;
    color: #10a6ad;
}
.profilepicture img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 0;
}

.changepicture{
    margin-left: 60px;
}
.picgroup{
    display: flex;
    flex-direction: column;
}
#upload input[type=file]{
    border: 1px solid #c4c4c4;
    width: 300px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    padding-bottom: 5px;
}
#upload input[type=submit] {
    background-color: #10a6ad;
    color: white;
    width: 130px;
    border:none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
}
#changeprofile{
    margin-top: 20px;
}
#changeprofile input[type=text], #changeprofile input[type=password]{
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #c4c4c4;
    color: #666666;
    width: 250px;
    outline: none;
    padding: 10px;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
}

#changeprofile label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    color: #10a6ad;
}


#changeprofile fieldset{
    border: none;

}

#changeprofile button {
    background-color: #10a6ad;
    color: white;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 0;
    border: 2px solid #10a6ad;
    margin-bottom: 10px;

}

#changeprofile button:hover {
    background-color:white;
    border: 2px solid #10a6ad;
    color: #10a6ad;
    font-weight: 400;


}










